.bread-crumb-wrapper {
  width: 100%;
  padding: 29px 6%;
  display: flex;
  align-items: center;
}
.home-icon-wrapper > img {
  display: block;
}
.arrow-icon-wrapper > img {
  display: block;
}
.bread-crumb-wrapper > div {
  margin-right: 10px;
}
.namepage-breadcrumb-wrapper > span {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #c4c4c4;
}
