.final-section-wrapper {
  padding: 29px 4% 24px 4%;
  background-color: #585858;
  display: flex;
  justify-content: space-between;
}
.final-section-infotext p {
  width: 234px;
  font-size: 10px;
  text-align: left;
  color: #fff;
}
.final-section-payments-brand img {
  vertical-align: middle;
  margin: 0 10px 0 0;
  width: 35px;
}
.boleto-logo::after {
  content: "";
  border-right: 1px solid #fff;
}
.final-section-payments-brand img.vtexpci-logo {
  width: 45px;
  margin: 0 0 0 10px;
}
.final-section-principal-brands img {
  vertical-align: middle;
}
.final-section-principal-brands img.vtex-logo {
  width: 40px;
  margin-right: 16px;
}
.final-section-principal-brands img.m3-logo {
  width: 28px;
}
.final-section-principal-brands span {
  width: 234px;
  font-size: 10px;
  line-height: 11.72px;
  margin-right: 8px;
  color: white;
}
@media screen and (max-width: 1080px) {
  .final-section-wrapper {
    padding: 29px 4% 24px 4%;
    background-color: #585858;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .final-section-infotext p {
    text-align: center;
    margin-bottom: 10px;
  }
  .final-section-payments-brand {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 768px) {
  .final-section-payments-brand {
    order: 1;
  }
  .final-section-infotext {
    order: 2;
  }
  .final-section-principal-brands {
    order: 3;
  }
  .final-section-wrapper {
    align-items: flex-start;
  }
  .final-section-infotext p {
    text-align: left;
    width: 100%;
  }
  .final-section-payments-brand {
    width: 100%;
  }
  .final-section-payments-brand img {
    width: 30px;
  }
}
