.footer-titles{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #303030;
}
.footer-links-list{
    list-style: none;
}
.expand-list-icon{
    display: none;
}
@media screen and (max-width:540px){
    .footer-contents{
        width: 100%;
        position: relative;
    }
    .footer-titles{
        display: inline-block;
        margin-bottom: 24px;
    }
    .expand-list-icon{
        display: inline-block;
        font-size: 18px;
        position: absolute;
        right: 0;

    }
    .footer-links-list{
        margin: -24px 0 24px 0;
    }
}