.footer-wrapper{
    padding: 25px 6% 52px 6%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-wrapper > div:nth-child(1) > ul > div:nth-child(4) > li > a{
    text-decoration: underline;
}
.footer-wrapper> div:nth-child(3) > ul > div:nth-child(1) > li > a{
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
}
.footer-wrapper> div:nth-child(3) > ul > div:nth-child(3) > li > a{
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
}
@media screen and (max-width:540px){
    .footer-wrapper{
        flex-direction: column;
    }
}