.div-checkbox {
  width: 390px;
  text-align: center;
  margin-left: -16px;
}
.form-wrapper h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 23px;
  color: #110d0f;
  margin-bottom: 34px;
}
label {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 23px;
  color: #100d0e;
  margin-bottom: 4px;
  margin-left: 16px;
}
input.form-input {
  margin-bottom: 12px;
  width: 100%;
  max-width: 390px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #100d0e;
  border-radius: 25px;
  padding: 10px 30px;
  outline: 0;
}
input[type="checkbox"] {
  width: 20px;
  position: relative;
  bottom: 25px;
  left: 90px;
}
.form-button {
  width: 390px;
  height: 52px;
  border-radius: 25px;
  border: 0;
  background: #03bffe;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 34px;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.form-button:hover {
  background: #01b3ee;
}
input.invalid {
  background: rgb(255, 212, 212);
}
.feedback-wrapper {
  width: 390px;
  text-align: center;
}
.feedback-wrapper span {
  font-size: 12px;
  color: #e23030;
  position: relative;
  top: -10px;
}
.feedback-termos {
  margin-left: 16px;
  position: relative;
  top: -17px;
}
@media screen and (max-width: 768px) {
  .form-wrapper {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  input[type="checkbox"] {
    width: 20px;
    position: relative;
    bottom: 25px;
    left: 91px;
  }
  .form-contact {
    width: 390px;
  }
  .label-form {
    text-align: left;
  }
  .div-checkbox {
    text-align: center;
    margin-right: 16%;
  }
  .feedback-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 455px) {
  .form-button {
    width: 100%;
  }
}
