.header {
  width: 100%;
  padding: 26px 4%;
  background-color: #00c8ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c4c4c4;
}
.search-box-wrapper {
  width: 264px;
  height: 32px;
  background-color: #fff;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  grid-area: searchbox;
}
.logo {
  grid-area: logo;
}
.search-box-input {
  width: calc(100% - 32px);
  height: 100%;
  border: 0;
  padding: 0 12px;
  outline: 0;
}
.menu-mobile-icon {
  cursor: pointer;
  display: none;
  grid-area: menuicon;
}
.login-and-cart-wrapper {
  display: flex;
  align-items: center;
}
.cart-wrapper {
  padding-left: 20px;
  grid-area: cart;
}
.login-wrapper > a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  position: inherit;
}
.login-wrapper > a:hover {
  color: #226b80;
}

@media screen and (max-width: 768px) {
  .header {
    display: grid;
    grid-template:
      "menuicon logo cart"
      "searchbox searchbox searchbox";
    padding-bottom: 16px;
  }
  .menu-mobile-icon {
    cursor: pointer;
    display: block;
  }
  .login-wrapper {
    display: none;
  }
  .search-box-wrapper {
    margin-top: 34px;
    width: 100%;
  }
}
