.nav-wrapper {
  width: 100%;
  padding: 14px 4%;
  background-color: #00c8ff;
}
.nav-list {
  display: flex;
}
.nav-list > li {
  list-style: none;
  margin-right: 126px;
}
.nav-list a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
@media screen and (max-width: 768px) {
  .nav-wrapper {
    display: none;
  }
}
