.background-menu-mobile {
  display: none;
}
.links-mobile {
  display: none;
}
.close-menu-mobile {
  text-align: center;
}
.close-menu-mobile img {
  width: 32px;
  height: 32px;
  position: relative;
  top: 50px;
  right: -200px;
  filter: invert(100);
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .background-menu-mobile {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 200, 255, 0.7);
    backdrop-filter: blur(10px);
    display: block;
    z-index: 10;
  }
  .navmobile {
    display: none;
  }
  .links-mobile {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
  }
  .links-mobile > li {
    list-style: none;
    margin-bottom: 20px;
    font-size: 22px;
    text-align: center;
  }
  .links-mobile li > a {
    color: #fff;
    font-size: 22px;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
  }
}
