.newsletter-wrapper {
  margin-top: 118px;
  width: 100%;
  padding: 42px 0 16px 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
.input-wrapper {
  text-align: left;
}
.label-newsletter {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;
  font-variant: small-caps;
  margin: 0 0 5px 0;

  color: #303030;
}
.newsletter-input {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  width: 342px;
  height: 42px;
  padding: 10px;
  outline: 0;
}
.newsletter-button {
  margin-left: 8px;
  width: 126px;
  height: 42px;
  background: #00c8ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: 0;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #ffffff;
  cursor: pointer;
}
.newsletter-button:hover {
  background: #01b3ee;
}
.form-feedback-wrapper {
  width: 100%;
  text-align: left;
}
.form-feedback-wrapper span {
  font-size: 12px;
  color: #e23030;
}
input.invalid {
  background: rgb(255, 212, 212);
}
@media screen and (max-width: 768px) {
  .newsletter-wrapper {
    padding: 42px 25px 16px 25px;
  }
  .newsletter-wrapper > div {
    width: 100%;
  }
  .newsletter-input {
    display: block;
    width: 100%;
  }
  .newsletter-button {
    display: block;
    width: 100%;
    margin: 0;
    margin-top: 16px;
  }
}
