.page-content {
  margin-top: 80px;
  padding: 0 6%;
}
.page-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  margin-bottom: 40px;
}
.page-wrapper-content {
  display: grid;
  grid-template-areas: "side cont cont";
}
.page-content-sidebar {
  height: 270px;
  width: 270px;
  /* background-color: red; */
  grid-area: side;
}
.sidecontent {
  border-right: 1px solid #e5e5e5;
}
.page-content-categorie {
  width: 100%;
  height: auto;
  margin-left: 32px;
  /* background-color: green; */
  grid-area: cont;

}
.content-title {
  font-size: 24px;
  line-height: 28px;
  color: #292929;
  margin-bottom: 12px;
}
.content-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;

  color: #7d7d7d;
}
@media screen and (max-width:768px){
  .page-content-sidebar{
        height: auto;
        width: 100%;
        /* background-color: red; */
        grid-area: side;
  }
  .page-wrapper-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  ul{
    border: 0;
  }
  ul li:last-of-type{
    margin-bottom: 0px;
  }
  .page-content-categorie{
    width: 100%;
    height: auto;
    margin: 22px 0 0 0;
    text-align: center;
  }
  p{
    text-align: justify;
  }
}