.list-element {
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #7d7d7d;
  margin-bottom: 24px;
  padding: 10px 16px;
}

.active{
  background-color: #00C8FF;
  color: #fff;
}
