.socials-wrapper{
display: flex;
flex-direction: column;

}
.socials-image-wrapper > img{
    margin-right: 10px;
}
.footer-link-site > a{
    text-decoration: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #303030;
}
@media screen and (max-width:768px){
    .socials-wrapper{
        width: 100%;
        margin-top: 24px;

    }
    .footer-link-site{
        display: none;
    }
}
@media screen and (max-width:540px){
    .socials-wrapper{
        margin: 0;
    }

}